@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* Shared Style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

body {
  background-color: #1a0b2e;
}

a {
  text-decoration: none;
  color: white;
}

.btn {
  border: none;
  padding: 12px 16px;
  color: white;
  background-image: linear-gradient(30deg, #f7e93f, #fb09b4, #9100f8);
  border-radius: 10000px;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
}

/* Main Style */
header ul li {
  list-style: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
}

.nav-container {
  border-bottom: 1px solid rgba(145, 0, 248, 0.3);
}

nav ul {
  display: flex;
  gap: 32px;
}

.menu-icon {
  display: none;
}

.hero h1 {
  font-size: 60px;
  font-weight: bold;
  color: white;
}

.hero p {
  opacity: 80%;
  color: white;
}

.subscribe {
  border: 1px solid #00ff88;
  border-radius: 10000px;
  background-color: transparent;
  color: #00ff88;
  padding: 12px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.hero .btn {
  padding: 12px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.hero {
  background-image: url("../assets/hero-bg.png");
  background-size: cover;
  background-position: center;
  padding: 101px 0;
}

.hero-circle {
  max-width: max-content;
  margin: 0 auto;
  position: relative;
  margin-bottom: 40px;
}

.microphone {
  position: absolute;
  left: 35%;
  top: 20%;
}

.hero-bottom {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.hero-bottom h1,
p {
  text-align: center;
}

.hero-bottom-buttons {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  gap: 8px;
}

.new {
  background-color: #00ff88;
  padding: 8px 16px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 1000px;
  box-shadow: 0px 3px 27px rgba(0, 255, 136, 0.5);
  position: absolute;
  top: 12px;
  right: 24px;
}

.about hr {
  border: none;
  height: 1px;
  background-color: rgba(145, 0, 248, 0.3);
  margin: 40px auto;
}

.about h1 {
  font-size: 48px;
  font-weight: bold;
  color: white;
  text-align: center;
  margin-bottom: 16px;
}

.about p {
  color: white;
  opacity: 80%;
}

.about-text p {
  line-height: 30px;
}

.info-card .info-card-title {
  font-size: 48px;
  font-weight: bold;
  color: #00ff88;
}

.info-card {
  /* width: 240px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.about-info {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
}

.about {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 120px;
}

/* Responsive */
@media screen and (max-width: 576px) {
  header ul,
  button {
    display: none;
  }

  nav {
    padding: 16px 20px;
  }

  .menu-icon {
    display: inline;
  }

  .hero {
    background-size: contain;
    background-repeat: no-repeat;
    padding: 40px 20px;
    background-position-y: 25%;
  }

  .hero h1 {
    font-size: 40px;
  }

  .microphone {
    height: 80px;
    top: 24%;
    left: 37%;
  }

  .circle {
    width: 200px;
  }

  .new {
    right: -16px;
  }

  .about-info {
    grid-template-columns: repeat(2, 1fr);
  }

  .about {
    margin-bottom: 40px;
  }
}

/* Animation Style */

.animated-btn {
  animation-name: button-animation;
  animation-duration: 0.6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate-reverse;
}

@keyframes button-animation {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(10px);
  }
}
