@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* Shared Style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.container {
  max-width: 75%;
  margin: 0 auto;
}

body {
  background-color: #1a0b2e;
}

a {
  text-decoration: none;
  color: white;
}

.btn {
  border: none;
  padding: 12px 16px;
  color: white;
  background-image: linear-gradient(30deg, #f7e93f, #fb09b4, #9100f8);
  border-radius: 10000px;
  font-weight: 500;
  font-size: 16px;
}

/* Main Style */
header ul li {
  list-style: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
}

.nav-container {
  border-bottom: 1px solid rgba(145, 0, 248, 0.3);
}

nav ul {
  display: flex;
  gap: 32px;
}

.menu-icon {
  display: none;
}

/* Responsive */
@media screen and (max-width: 576px) {
  header ul,
  button {
    display: none;
  }

  .menu-icon {
    display: inline;
  }
}
